<div class="col-md-12 center">

  <h1>Form for a need request</h1>

    <%= simple_form_for @need do |f| %>

        <%= f.input :title %>

        <%= f.simple_fields_for :location do |p| %>
          <%= p.input :address %>
        <% end %>

        <%= f.input :description %>

      <%= f.button :submit %>
    <% end %>

  <!-- <%= link_to 'Back to Needs', needs_path %> -->

</div>
