<div id = "myCarousel" class = "carousel slide">
  <!-- Indicators -->
  <ol class = "carousel-indicators">
    <li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
    <li data-target = "#myCarousel" data-slide-to = "1"></li>
    <li data-target = "#myCarousel" data-slide-to = "2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class = "carousel-inner">

    <div class = "item active">
      <%= image_tag "wildfire.jpg", class: "img-responsive", alt: "Forrest Fire" %>
      <div class = "carousel-caption">
        <h2><!-- sample heading here --></h2>
        <p><!-- sample description here --></p>
      </div>
    </div>

    <div class = "item">
      <%= image_tag "flag1.jpg", class: "img-responsive", alt: "American Flag in tornado reckage" %>
      <div class = "carousel-caption">
        <h2><!-- sample heading here --></h2>
        <p><!-- sample description here --></p>
      </div>
    </div>

    <div class = "item">
      <%= image_tag "hurricane.jpg", class: "img-responsive", alt: "Hurricane damage" %>
      <div class = "carousel-caption">
        <h2><!-- sample heading here --></h2>
        <p><!-- sample description here --></p>
      </div>
    </div>
  </div>


    <div class="search-area">
      <form class="form-inline" role="form" id="searchForm">
        <div class="form-group col-sm-4 col-sm-offset-4">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Where can you help...?">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
          </div>
        </div>
      </form>
    </div> <!-- end search area -->

  </div>  <!-- end carousel inner -->
</div>
  <!-- Controls -->
  <!-- if you want darkening on left/right side upon hover, put class="right carousel-control" -->
  <a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>


</div> <!-- end carousel -->
<!-- ========================= -->
<!-- begin featured neighborhoods -->

<div class="container marketing">

  <div class="row-space-3">
    <div class="section-intro">
      <h2>Neighborhoods in Need</h2>
      <p>Not sure where you're most needed? See where you can lend a hand all around the world.</p>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-4">
      <%= image_tag "tornado.jpg", class: "img-rounded", style: "width: 250px; height: 250px;" %>
      <h2>Tuscaloosa, AL</h2>
      <p>A F5 tornado ripped though this city killed over 50 people and over 250 people across the state. Thousands were left without food or shelter. See how you can help people in this area.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <%= image_tag "earthquake.jpg", class: "img-rounded", style: "width: 250px; height: 250px;" %>
      <h2>Haiti</h2>
      <p>The earthquake affected the lives of everyone in Haiti. Constuction, debris removal, infrastructure, and sanitation are just a few of the dire needs for our neighbors in Haiti. See how you can lend a hand!</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <%= image_tag "katrina.jpg", class: "img-rounded", style: "width: 250px; height: 250px;" %>
      <h2>New Orleans, LA</h2>
      <p>Hurricane Katrina decimated much of New Orleans leaving residents with the task of rebuilding their community.  See how you can help out the locals and help them build back their proud community and get neighbors back on their feet!</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

  </div><!-- /.row -->



</div><!-- /.container marketing -->

<footer>
  <hr class="featurette-divider">
  <p>
    © 2014 Lend A Hand
    <a href="#">· Developer ·</a>
  </p>
</footer>




