<h1>add a new location</h1>

<%= simple_form_for @location do |f| %>
  <%= f.simple_fields_for :needs do |p| %>
    <%= p.input :title %>
    <%= p.input :description %>
  <% end %>
  <%= f.input :address %>

<%= f.button :submit %>
<% end %>
